.Title {
  width: 700px;
  height: 100px;
  position: relative;
  margin-left: 30rem;
}
.text {
  color: black;
  font-size:xxx-large;
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.intro-container{
  width: 1300px;
  height: 400px;
  position: absolute;
  border: 1px solid black;
  top: 14rem;
  margin-left: 3rem;
}

.intro-container img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: .7;
}

.m{
  width: 600px;
  height: 400px;
  font-size: xx-large;
  position: absolute;
  border: 2px solid black;
  bottom: 2.8rem;
  left: 3rem;
  background-color: rgba(87, 87, 87, 0.7);
}


.boarder1 {
  width: 200px;
  height: 300px;
  border: 5px solid black;
  left: 4rem;
  top: 48rem;
  position:absolute;
}
.mem1-container{
  width: 120px;
  height: 120px;
  border: 4px solid black;
  border-radius: 25px;
  position:absolute;
  left: 7rem;
  top: 44rem;
}
.mem1-container img{
  width: 100%;
  height: 100%;
  object-fit:contain;
}
.info1{
  position: absolute;
  top: 11rem;
  font-size: small;
}

.decor1{
  width: 190px;
  height: 18px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(119, 169, 227);
  position:absolute;
}
.b1 {
  color: black;
  font-size:large;
  position: absolute;
  left: 5rem;
  top: 54rem;
}



.boarder2 {
  width: 200px;
  height: 300px;
  border: 5px solid black;
  left: 35rem;
  top: 48rem;
  position:absolute;
}
.mem2-container{
  width: 120px;
  height: 120px;
  border: 4px solid black;
  border-radius: 25px;
  position:absolute;
  left: 38rem;
  top: 44rem;
}
.mem2-container img{
  width: 100%;
  height: 100%;
  object-fit:contain;
}
.info2{
  position: absolute;
  top: 11rem;
  font-size: small;
}

.decor2{
  width: 190px;
  height: 18px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(119, 227, 207);
  position:absolute;
}
.b2 {
  color: black;
  font-size:large;
  position: absolute;
  left: 36rem;
  top: 54rem;
}



.boarder3 {
  width: 200px;
  height: 300px;
  border: 5px solid black;
  left: 70rem;
  top: 48rem;
  position:absolute;
}

.mem3-container{
  width: 120px;
  height: 120px;
  border: 4px solid black;
  border-radius: 25px;
  position: absolute;
  left: 73rem;
  top: 44rem;
}
.mem3-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.info3{
  position: absolute;
  top: 11rem;
  font-size: small;
}

.decor3{
  width: 190px;
  height: 18px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(119, 227, 207);
  position:absolute;
}

.b3 {
  color: black;
  font-size:large;
  position: absolute;
  left: 71rem;
  top: 54rem;
}



.boarder4 {
  width: 200px;
  height: 300px;
  border: 5px solid black;
  left: 4rem;
  top: 80rem;
  position:absolute;
}


.mem4-container{
  width: 120px;
  height: 120px;
  border: 4px solid black;
  border-radius: 25px;
  position: absolute;
  left: 7rem;
  top:76rem;
}
.mem4-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.info4{
  position: absolute;
  top: 11rem;
  font-size: small;
}

.decor4{
  width: 190px;
  height: 18px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(119, 227, 207);
  position:absolute;
}
.b4 {
  color: black;
  font-size:large;
  position: absolute;
  left: 5rem;
  top: 86rem;
}



.boarder5 {
  width: 200px;
  height: 300px;
  border: 5px solid black;
  left: 35rem;
  top: 80rem;
  position:absolute;
}

.mem5-container{
  width: 120px;
  height: 120px;
  border: 4px solid black;
  border-radius: 25px;
  position: absolute;
  left: 38rem;
  top: 76rem;
}
.mem5-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.info5{
  position: absolute;
  top: 11rem;
  font-size: small;
}

.decor5{
  width: 190px;
  height: 18px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(119, 227, 207);
  position:absolute;
}
.b5 {
  color: black;
  font-size:large;
  position: absolute;
  left: 36rem;
  top: 86rem;
}





.boarder6 {
  width: 200px;
  height: 300px;
  border: 5px solid black;
  left: 70rem;
  top: 80rem;
  position:absolute;
}

.mem6-container{
  width: 120px;
  height: 120px;
  border: 4px solid black;
  border-radius: 25px;
  position: absolute;
  left: 73rem;
  top: 76rem;
}
.mem6-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.info6{
  position: absolute;
  top: 11rem;
  font-size: small;
}
.decor6{
  width: 190px;
  height: 18px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(119, 227, 207);
  position:absolute;
}
.b6 {
  color: black;
  font-size:large;
  position: absolute;
  left: 71rem;
  top: 86rem;
}








