.Title {
  width: 500px;
  height: 100px;
  border: 5px solid black;
  margin: 20px auto;
  position: relative;
}
.text {
  color: black;
  font-size:2rem;
  position: absolute;
  left: 6rem;
  top: 1.5rem;
}

.mem1-container{
  width: 150px;
  height: 150px;
  border: 2px solid black;
  position: absolute;
  left: 10rem;
  top: 18rem;
}
.mem1-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.b1 {
  color: black;
  font-size:1rem;
  position: absolute;
  left: 11rem;
  top: 30rem;
}


.mem2-container{
  width: 150px;
  height: 150px;
  border: 2px solid black;
  position: absolute;
  left: 40rem;
  top: 18rem;
}
.mem2-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.b2 {
  color: black;
  font-size:1rem;
  position: absolute;
  left: 41rem;
  top: 30rem;
}

.mem3-container{
  width: 150px;
  height: 150px;
  border: 2px solid black;
  position: absolute;
  left: 70rem;
  top: 18rem;
}
.mem3-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.b3 {
  color: black;
  font-size:1rem;
  position: absolute;
  left: 71rem;
  top: 30rem;
}

.mem4-container{
  width: 150px;
  height: 150px;
  border: 2px solid black;
  position: absolute;
  left: 10rem;
  top: 38rem;
}
.mem4-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.b4 {
  color: black;
  font-size:1rem;
  position: absolute;
  left: 11rem;
  top: 50rem;
}


.mem5-container{
  width: 150px;
  height: 150px;
  border: 2px solid black;
  position: absolute;
  left: 40rem;
  top: 38rem;
}
.mem5-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.b5 {
  color: black;
  font-size:1rem;
  position: absolute;
  left: 41rem;
  top: 50rem;
}


.mem6-container{
  width: 150px;
  height: 150px;
  border: 2px solid black;
  position: absolute;
  left: 70rem;
  top: 38rem;
}
.mem6-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.b6 {
  color: black;
  font-size:1rem;
  position: absolute;
  left: 71rem;
  top: 50rem;
}

.mem7-container{
  width: 150px;
  height: 150px;
  border: 2px solid black;
  position: absolute;
  left: 10rem;
  top: 58rem;
}
.mem7-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.b7 {
  color: black;
  font-size:1rem;
  position: absolute;
  left: 11rem;
  top: 70rem;
}


.mem8-container{
  width: 150px;
  height: 150px;
  border: 2px solid black;
  position: absolute;
  left: 40rem;
  top: 58rem;
}
.mem8-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.b8 {
  color: black;
  font-size:1rem;
  position: absolute;
  left: 41rem;
  top: 70rem;
}


.mem9-container{
  width: 150px;
  height: 150px;
  border: 2px solid black;
  position: absolute;
  left: 70rem;
  top: 58rem;
}
.mem9-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.b9 {
  color: black;
  font-size:1rem;
  position: absolute;
  left: 71rem;
  top: 70rem;
}






